pkgbase = hardhat
	pkgdesc = Arch Linux Bash CLI for baseline security auditing and guided UFW hardening
	pkgver = 1.0.8
	pkgrel = 1
	url = https://github.com/ogidok/HardHat
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = bash
	optdepends = ufw: firewall backend used by firewall audit/apply
	optdepends = sudo: run privileged actions when not executing as root
	options = !debug
	source = hardhat-1.0.8.tar.gz::https://github.com/ogidok/HardHat/archive/8f8cfb19e494183b61e9ec57e9a901b3f161baaf.tar.gz
	sha256sums = e0972291547618718dd376fa11736264fa62260855c63e719ead755826dcae4d

pkgname = hardhat
